<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <!--CSS-->
    <link rel="stylesheet" href="/css/styles.css">
    <!--FontAwesome-->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" rel="stylesheet" />
    <title>Mercado Liebre</title>
    <!---->
</head>
<body>
    
    <header>
        <!--DIV CON LOGO-->
        <div class="logo">
            <a href="/"><img src="images/logo-mercado-liebre.svg" alt="logo mercado liebre"></a>
        </div>
        <div class="busqueda"> <!--placeholder : me dice que va dentro del input-->
            <input type="text" placeholder="Buscar productos,marcas ...">
            <button>
                <i class="fa-solid fa-magnifying-glass"></i>
            </button>
        </div>
        
             <p><i class="fa-solid fa-hand-holding-dollar"></i>Comprá en cuotas y sin tarjeta de créditos</p></i>
           
  

<nav>
    <ul class="lista-superior">
            <li><a href="">Ofertas</a></li>
            <li><a href="">Tiendas Oficiales</a></li>
            <li><a href="">Vender</a></li>
            <li><a href="">Ayudar</a></li>
    </ul>
    <ul class="lista-inferior">
            <li><a href="">Crea tu cuenta <i class="fa-regular fa-id-card"></i></a></li>
            <li><a href="">Ingresa <i class="fa-solid fa-right-to-bracket"></i></a></li>
            <li><a href="">Mis compras <i class="fas fa-shopping-basket "></i></a></li>

    </ul>
</nav>
<!--MENU AMBURGUESA-->
<div class="burger-menu">
    <i class="fas fa-bars"></i>
</div>
    </header>

    <main class="home__productos">
        <img class="banner" src="images/img-home-banner.jpg" alt="Banner ofertas" width="100%">
        <section class="seccion__productos">
            <h4 class="seccion__productos--titulo">Basado en tu última visita</h4>
            <article class="seccion__productos--tarjeta"> <!-- cafetera-->
                <img src="images/img-cafetera-moulinex.jpg" alt="img-cafetera-moulinex" width="100%">
                <p>$6.770</p>
                <p>40% off</p>
                <h5>Cafetera Cafetera-moulinex</h5>
            </article>
        </section>
        <section>
            <h4>Basado en tu última visita</h4>
            <article> <!-- mac-->
                <img src="images/img-macbook-pro-2019.jpg" alt="img-macbook-pro-2019" width="100%">
                <p>$230.000</p>
                <p>20% off</p>
                <h5>MacBook Pro 2019</h5>
            </article>
        </section>
        <section>
            <h4>Basado en tu última visita</h4>
            <article> <!-- cel-->
                <img src="images/img-samsung-galaxy-s10.jpg" alt="img-samsung-galaxy-s10" width="100%">
                <p>$70.500</p>
                <p>10% off</p>
                <h5>Samsung Galaxy S10</h5>
            </article>
        </section>
        <section>
            <h4>Basado en tu última visita</h4>
            <article> <!-- tv-->
                <img src="images/img-tv-samsung-smart.jpg" alt="img-tv-samsung-smart" width="100%">
                <p>$23.200</p>
                <p>5% off</p>
                <h5>SmartTv Samsung 43"</h5>
            </article>
        </section>
        <section>
             <!--SECCION OFERTAS-->
            <h4>Seccion Ofertas</h4>
            <article> <!-- tv-->
                <img src="images/img-cafetera-moulinex.jpg" alt="img-cafetera-moulinex" width="100%">
                <p>$6.770</p>
                <p>40% off</p>
                <h5>Cafetera Moulinex</h5>
            </article>
        </section>
            <h4>Seccion Ofertas</h4>
            <article> <!-- tv-->
                <img src="images/img-macbook-pro-2019.jpg" alt="img-macbook-pro-2019" width="100%">
                <p>$230.000</p>
                <p>40% off</p>
                <h5>MacBook Pro 2019</h5>
            </article>
        </section>
            <h4>Seccion Ofertas</h4>
            <article> <!-- tv-->
                <img src="images/img-samsung-galaxy-s10.jpg" alt="img-samsung-galaxy-s10" width="100%">
                <p>$70.500</p>
                <p>10% off</p>
                <h5>Samsung Galaxy S10</h5>
            </article>
        </section>
            <h4>Seccion Ofertas</h4>
            <article> <!-- tv-->
                <img src="images/img-tv-samsung-smart.jpg" alt="img-tv-samsung-smart" width="100%">
                <p>$23.200</p>
                <p>5% off</p>
                <h5>SmartTv Samsung 43"</h5>
            </article>
        </section>
    </main>

    <!--FOOTER: par aque s e centre el footer heredo -->
    <footer>
        <!--que elemento o cajita me engloba
        Pagá con tarjeta o en efectivo
Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
puntos de pago. ¡Y siempre es seguro!
● Envío gratis desde $ 2.500
Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
productos. Es un beneficio de Mercado Puntos.

7

● Seguridad, de principio a fin
¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
porque estás siempre protegid@.
● Copyright ©️ 1999-2020 MercadoLiebre S.R.L.

TAREA: modificar el article
-->
        <article>
            <p><i class="fa-solid fa-credit-card"></i></p>
            <h4> Pagá con tarjeta o en efectivo</h4>
            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                puntos de pago. ¡Y siempre es seguro!</p>
        </article>
        <article>
            <p><i class="fa-solid fa-gift"></i></p>
            <h4>  Envío gratis desde $ 2.500</h4>
            <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                productos. Es un beneficio de Mercado Puntos.</p>
        </article>
        <article>
            <p><i class="fa-solid fa-user-shield"></i></p>
            <h4> Seguridad, de principio a fin</h4>
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                porque estás siempre protegid@.</p>
        </article>
        <span> Copyright ©️ 1999-2020 MercadoLiebre S.R.L.</span>
    </footer>
 <p>
    <!--git init
    git commit -m "mensaje"
    git add . 
    git status
    git push -u origin master--></p>
    <!--EL PUERTO 
     localhost:3000/-->
    <!--SUBIENDO A REPOSITORIO
        git init
        git commit -m "mensaje"
        git add . 
        git status
        git push -u origin master-->
</body>
</html>